/*! @import */

/*@tailwind base;*/

._flex_center {
  display: flex;
  align-items: center;
  justify-content: center
}

._flex_col_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.mb-2 {
  margin-bottom: 16rpx
}

.mb-4 {
  margin-bottom: 32rpx
}

.mt-2 {
  margin-top: 16rpx
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.w-full {
  width: 100%
}

.w-screen {
  width: 100vw
}

.flex-col {
  flex-direction: column
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded {
  border-radius: 8rpx
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.bg-green-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(4 120 87 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 16rpx
}

.p-3 {
  padding: 24rpx
}

.text-2xl {
  font-size: 48rpx;
  line-height: 64rpx
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}

.text-red-700 {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.shadow {
  --tw-shadow: 0 2rpx 6rpx 0 rgba(0, 0, 0, 0.1), 0 2rpx 4rpx 0 rgba(0, 0, 0, 0.06);
  --tw-shadow-colored: 0 2rpx 6rpx 0 var(--tw-shadow-color), 0 2rpx 4rpx 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
